extends ./base.pug

block content  
    .mainBox 
        h1.logo New Msg Page
        form(action="#" method="post")
            .loginLabel
                label ID
                input(type="text" name="input_id")

            .loginLabel
                label PassWord
                input(type="text" name="input_pass")
            input(type="submit" name="LOGIN")

